* {
  margin:0px;
  padding: 0px;


}
#kolumna {

width: 405px;

}
#R {
background-color: #5957a1;
text-align: center;
width: 35%;
height: 450px;
float: right;
}

#L {
background-color: #bbadcd;
width: 65%;
height: 450px;
float:left;
overflow: scroll;


}
#stopka {
background-color: #5957a1;
text-align: center;
height: 70px;
float:right;
width: 100%;
}
#baner {
background-color: #5957a1;
text-align: center;
padding: 10px;
height: 70px;

}
a {
  color:gold;


}
body {
font-family: Arial;
color:white;

}
hr {
border-color:yellow;

}
li {
  list-style-type: square;


}
tr, td, th {

  border-style:dashed;
  border-color: black;
  border-width: 1px;


}
